html, body {
	margin: 0;
	height: 100%;
}

.circle {
	position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
}